appdirs==1.4.4
asgiref==3.7.2
Brotli==1.0.9
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
cssselect2==0.7.0
distlib==0.3.7
dj-database-url==2.0.0
Django==3.2.19
django-renderpdf==4.0.0
fonttools==4.42.0
gunicorn==21.2.0
html5lib==1.1
idna==3.4
mysql-connector==2.2.9
packaging==23.1
Pillow==10.0.0
psycopg2==2.9.7
psycopg2-binary==2.9.7
pycparser==2.21
pydyf==0.7.0
pyphen==0.14.0
pytz==2023.3
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.7.1
urllib3==1.25.11
weasyprint==59.0
webencodings==0.5.1
zopfli==0.2.2
